/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar ul .dropdown div ul li a {
    padding-left: 30px;
    font-size: 1.1em;
    color: var(--light);
    display: block;
    padding: 0.6em 0.8em 0.6em 2em;
    margin: 0 0.7em;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar:not(.active) ul .dropdown div ul li a i {
    margin-right: 0.7em;
}

#sidebar ul .dropdown div ul li a:hover {
    color: var(--light);
    background-color: var(--secondary);
    margin: 0.7em -0.7em 0.7em 0.7em;
    border-radius: 0.3em;
}

#sidebar.active ul .dropdown div ul li a span {
    display: none;
}

#sidebar.active ul .dropdown div ul li a {
    display: block;
    font-size: 1.3em;
    padding: 0.9em 0.7em;
    transition: all 0.3s;
    margin: 0.5em 0;
}

#sidebar.active ul .dropdown div ul li a:hover {
    color: var(--light);
    background-color: var(--secondary);
    margin: 0.5em -0.5em 0.5em 0.5em;
    border-radius: 0.3em;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {

    #sidebar ul .dropdown div ul li a {
        margin: -0.7em;
    }

    #sidebar ul .dropdown div ul li a span {
        display: none;
    }

    #sidebar ul .dropdown div ul li a:hover {
        color: var(--light);
        background-color: var(--primary) !important;
    }
    
    #sidebar.active ul .dropdown div ul li a i {
        font-size: 1.2em;
    }

    #sidebar.active ul .dropdown div[aria-expanded = true] ul li a span {
        display: none;
    }
}