
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap');

body * {
  font-family: 'Quicksand', sans-serif;
}

.rounded-xl {
  border-radius: 1.2em;
}

.h-500 {
  height: 500px;
}
